<div class="search">
    <div class="container">
        <form action="/posts/search" method="get" class="search__form" role="search">
            <input type="search" name="searchTerm" id="search-term" aria-label="search" placeholder="Enter text to search">
        </form>
        <div id="search-close">close</div>
    </div>
</div>